<% if logged_in? %>
<h1> Welcome to TripPlanner, <%= "#{current_user.name}" %>! </h1>
<% else %>
<h1> Welcome to TripPlanner! </h1>
<% end %>

<body> This is a community of trip planners and adventure-seekers. </body>

<p>
<img src="https://www.scu.edu/media/offices/uss/images/travel-program-pic-1.jpg" alt="Travel Image" height="200" width="400">
</p>