<nav class="nav-banner">
  <% if logged_in? %>
    <p> Hello, <%= "#{User.find(session[:user_id]).name}" %>!</p>
    <a class="nav-btn" href="/">Home</a>
    <a class="nav-btn" href="/users">Users</a>
    <a class="nav-btn" href="/trips">Trips</a>
  	<a class="nav-btn" href=<%="/users/#{User.find(session[:user_id]).id}"%>><%="#{User.find(session[:user_id]).name}"%></a>
    <a class="nav-btn" href="/logout">Logout</a>
  <% else %>
  	<a class="nav-btn" href="/login">Login</a>
    <a class="nav-btn" href="/users/new">Sign Up</a>
  <% end %>
  <% if logged_in? && admin? %>
    <a class="nav-btn" href="/trips/new">New Trip</a>
    <a class="nav-btn" href="/users/new">New User</a>
  <% end %>
  <span class="nav-sessions">
  </span>
</nav>
